/*Font Face*/
@font-face {
  font-family: "Lora";
  src: local("Lora Regular"), local("Lora-Regular"), url("https://fonts.gstatic.com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: "Lora";
  src: local("Lora Italic"), local("Lora-Italic"), url("https://fonts.gstatic.com/s/lora/v12/0QIhMX1D_JOuMw_LIftL.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Raleway,"Helvetica Neue",sans-serif;
}