nav {
	background-color: rgba(31,30,37);
}

.navbar-brand {
	color: white;
	font-weight: 600;
	font-size: 13.2px;
	font-size: .76rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-brand:hover{
	color: chocolate;
}