textarea::-webkit-input-placeholder {
 	font-family: 'Lora', Arial, Helvetica, sans-serif;
 	font-style: italic;
}

textarea:-ms-input-placeholder {
 	font-family: 'Lora', Arial, Helvetica, sans-serif;
 	font-style: italic;
}

textarea:-moz-placeholder {
 	font-family: 'Lora', Arial, Helvetica, sans-serif;
 	font-style: italic;
}

textarea::-moz-placeholder {
	font-family: 'Lora', Arial, Helvetica, sans-serif;
	font-style: italic;
}

textarea {
	color: black;
	overflow-y: scroll;
}

#addpost-title {
	font-family: 'Lora', Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-style: italic;
}