.blog-post-title {
	font-family: "Lora";
	font-style: italic;
}

.blog-post-date {
	color: rgb(150,150,150);
	font-weight: 700;
	font-size: 0.76rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.blog-post-description {
	white-space: pre-wrap;
}